---
import Shell from "../../layouts/Shell.astro";
import InterestingItem from "../../components/InterestingItem.astro";

const posts = await Astro.glob("../blog/*.md");
posts.sort((a, b) => {
  // @ts-ignore
  return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
});
---

<Shell
  mainClasses="max-w-2xl"
  bodyClasses="flex justify-center"
>
  <ul class="space-y-20 my-24">
    {
      posts.map(
        ({ frontmatter: { title, time, tags, description, date }, url }) => (
          <li class="border-l-4 border-gray-200 hover:border-gray-300 dark:border-slate-700 hover:dark:border-slate-600 pl-6">
            <InterestingItem
              date={date}
              description={description}
              title={title}
              time={time}
              tags={tags}
              url={url}
            />
          </li>
        )
      )
    }
  </ul>
</Shell>
