---
import github from "@fortawesome/fontawesome-free/svgs/brands/github-alt.svg";
import linkedin from "@fortawesome/fontawesome-free/svgs/brands/linkedin-in.svg";
---

<html>
  <head>
    <meta charset="utf-8" />
    <title>Justin Awrey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" as="image" href={github} />
    <link rel="preload" as="image" href={linkedin} />
    <link rel="preload" as="font" href="/fonts/raleway.woff2" type="font/woff2"
    />
    <link rel="preload" as="font" href="/fonts/raleway.woff2" type="font/woff2"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script>
      const circleSize = 20;
      const lifetime = 1.2;

      function drawCircle(x: number, y: number): void {
        const circle = document.createElement('div')
        circle.style.position = 'absolute'
        circle.style.left = `${x}px`
        circle.style.top = `${y}px`
        circle.style.borderRadius = '50%'
        circle.style.width = `${circleSize}px`
        circle.style.height = `${circleSize}px`
        circle.style.backgroundColor = 'grey'
        circle.style.opacity = '0.2'
        circle.style.animation = `ripple ${lifetime}s ease-out`
        document.body.appendChild(circle)

        setTimeout(() => {
          document.body.removeChild(circle)
        }, lifetime * 1000)
      }

      window.addEventListener('mouseup', (e) => {
        drawCircle(e.pageX - (circleSize / 2), e.pageY - (circleSize / 2))
      })
    </script>
    <style>
      @font-face {
        font-family: Raleway;
        src: url("/fonts/raleway.woff2") format("woff2");
      }

      :root {
        font-family: "Raleway";
      }

      html {
        height: 100%;
      }

      body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .icons {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
      }

      .icon {
        height: 1.5rem;
        transition: opacity 0.15s;
        cursor: pointer;
      }

      .icon:hover {
        opacity: 0.5;
      }

      .linkedin {
        margin-left: 0.3rem;
      }

      a {
        all: unset;
      }

      @keyframes ripple {
        from {
          opacity: 0.3;
          transform: scale(0);
        }
        to {
          opacity: 0;
          transform: scale(2);
        }
      }
    </style>
  </head>
  <body>
    <slot />
    <div class="icons">
      <a href="https://github.com/justinawrey">
        <img class="icon" src={github} alt="github link" />
      </a>
      <a href="https://www.linkedin.com/in/justin-awrey-2b91a7119">
        <img class="icon linkedin" src={linkedin} alt="linkedin link" />
      </a>
    </div>
  </body>
</html>
